body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;    
    background-image: url(img/wp2599486.jpg);
    background-position: center;
    background-size:cover;
    box-sizing:border-box;
    
    background-repeat: no-repeat;
}
#intro{
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    background-color: rgba(65, 123, 199, 0.671);
    background-size: cover;
    box-sizing: border-box;
}
#navbar{
    padding-left:63vw;
    margin:0;
}
#navbar ul{
    padding:0;
    margin:0;
    list-style: none;
    text-transform: uppercase;
    display: inline-flex;
}
#navbar ul li{
    margin:0.6vw 2vw;
    width:6vw;
    text-align: center;
    position:relative;
}
#navbar ul li a:hover{
    color:white;
}
#navbar ul li a::after{
    content:'';
    height:3px;
    width:0;
    left:0;
    bottom:0;
    top:20px;
    background: white;
    transition:0.5s;
    position:absolute;
}
#navbar ul li a:hover::after{
    width:100%;
}
#navbar a{
    color:#000000;
    font-weight: bold;
}

#name{
    text-align: center;
    position: relative;
    top:35vh;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}
button{
    width:150px;
    padding:10px 0;
    text-align:center;
    margin:20px 10px;
    border-radius:25px;
    font-weight:bold;
    border: 2px solid #042cad;
    background:transparent;
    color:#042cad;
    cursor: pointer;
    position:relative;
}
button span{
    background: #042cad;
    height:100%;
    width:0;
    border-radius: 25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index: -1;
    transition:0.4s;
}
button:hover span{
    width:100%;
    position:absolute;
}
button:hover{
    border:none;
    color:white;
}
a{
    text-decoration: none;
    color:white;
}
.social ul{
    padding:0.6vh;
    margin-top:52vh;
}
.social ul li{
    list-style: none;
    padding:0.7vh;
    margin:0;
}